html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding-right: 20px;
  display: inline-block;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
}

*:focus{
  border: 2px solid black;
  outline: none;
}

footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  grid-row: 7 / span auto;
  padding-top: 30px;
  text-align: center;
}


.container{
  display: grid;
  grid-template-columns: 100px 500px 100px;
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-row-gap: 15px;
  width: 100vw;


}

.nav{
  vertical-align: middle;
  grid-column: 1/-1;
  grid-row: 1/2;

  background-color: #ddd;
  padding: 20px 0;
  text-align: left;
}

header{
  background-attachment: fixed;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;

  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  display: block;
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  max-height: 700px;
  overflow: hidden;


}

.about{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.method-image{
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
  max-height: 700px;
  overflow: hidden;

}

.method{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.clients-image{
  grid-column: 1 / -1;
  grid-row: 5 / span 1;
  max-height: 700px;
  overflow: hidden;
}

.clients{
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.contact-image{
  grid-column: 1 / -1;
  grid-row: 6 / span 1;
  max-height: 700px;
  overflow: hidden;
}

.contact{
   grid-column: 2 / span 1;
   grid-row: 6 / span 1;
}

.text-block{
  justify-self: center;
  align-self: center;

  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}



@media screen and (min-width: 800px){

  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
  }

  .nav{
    background-color: #ddd;
    text-align: right;
    padding-top: 35px;
    padding-bottom: 35px;

  }

  .about-image{
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    }

  .about{
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
  }

  .method-image{
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
  }

  .method{
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
  }

  .clients-image{
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;

  }

  .clients{
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
  }

  .contact-image{
    grid-column: 3 / span 2;
    grid-row: 6 / span 1;
  }

  .contact{
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
   }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0px;
  }
}
